html {
  --primary-10: #12131a;
  --primary-9: #1f222f;
  --primary-8: #2d3143;
  --primary-7: #3b4057;
  --primary-6: #484f6c;
  --primary-5: #565e80;
  --primary-4: #646c94;
  --primary-3: #777fa3;
  --primary-2: #8b92b1;
  --primary-1: #9fa5bf;

  --secondary-8: #FFCB10;
  --secondary-5: #FFD232;
  --secondary-6: #FFDA53;
  --secondary-5: #FFE175;
  --secondary-4: #FFECA7;
  --secondary-3: #FFEFB4;
  --secondary-2: #FFF1C0;
  --secondary-1: #FFF7D9;

  --primary: var(--primary-8);

  --secondary: var(--secondary-4);
  --secondary-light: var(--secondary-1);

  --link: var(--secondary-8);
  --link-hover: var(--secondary-5);
}
