---
layout: layouts/base.njk
title: Amout me
eleventyNavigation:
  key: aboutme
  title: about me
  order: 4
---

<div class="col-5 col-md-4 col-sm-3 col-xs-6 quien-soy-titulo">
  <h1 class="font-2 text-headline">about me</h1>
</div>

<div class="col-6 quien-soy-content">
  <img class="quien-soy-foto" src="/assets/images/deniz-uygur.jpg" alt="Deniz Uygur">
  <p>
Welcome to my world. I'm Derin Uygur, an artist from Turkey now based in Vienna. My passion lies in capturing the beauty of people and everyday objects through my product-oriented photography and detailed illustrations. I aim to inspire and connect with design studios and galleries by sharing my unique perspective and dedication to visual storytelling. Explore my portfolio and discover the creativity and precision that define my work.  </p>
</div>
