---
layout: layouts/base.njk
title: Contacto
---

<div class="col-5 col-md-4 col-sm-3 col-xs-6 contacto-titulo">
  <h1 class="font-2 text-headline">gracias</h1>
</div>
<div class="col-7 col-md-6 col-sm-5 col-xs-6 contacto-form">
  <p>
    Thank you very much for your message, I will respond as soon as I can.<br>
  <p>
  <p>
    All the best,<br>
    Deniz.
  </p>
</div>
